<p>
  Palindrome
</p>
<form action="/result">
  <div class="form-group">
     <label for="word">Is this a palindrome?
</label>
     <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
